input{
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    color: black;
}

#login-container {
    display: flex;
    flex-direction: row;
    height: 60vh;
    width: 60vw;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#left-container {
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 60%;
    padding: 0 5%;
    #form-login{
        input {
            width: 100%;
        }
    }
    button[type="submit"] {
        width: 100%;
        background-color: #151551;
        color: white;
        border: none;
        margin-top: 10px;
    }
    h2 {
        color: #151551;
        font-size: 34px;
    }
    #icon-container {
        width: 100%;    
        display: flex;
        justify-content: start;
        a {
            background-color: transparent;
            color: #151551;
            font-size: 20px;
            margin-right: 2%;
        }
    }
}

#right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #151551;
    border-radius: 0 10px 10px 0;
    button {
        margin-top: 20px;
        background-color: transparent;
        color: white;
        border: none;
        border:  1px solid white;
       }
}